@model Shoes.Models.ShoesViewModel
@{
    ViewBag.Title = "Добавить туфельку";
    var isNew = Model.Id <= 0;
}

<div class="page-header">
    <h1>@(isNew ? "Добавить" : "Редактировать") туфельку</h1>
</div>

@using (Html.BeginForm("AddShoes", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <div class="row">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ImageUrl)
        @Html.ValidationSummary()
        <div class="col-sm-6">
            <div class="form-group row">
                <label for="image">Картинка:</label>
                <input type="file" name="image" id="image" />
            </div>
            <div class="form-group row">
                <p>
                    @Html.ValidationMessageFor(x => x.Name)
                </p>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Название" })
            </div>
            <div class="form-group row">
                <label for="Name">Номер:</label>
                <p>
                    @Html.ValidationMessageFor(x => x.OldId)
                </p>
                <div class="col-xs-3">
                    @Html.TextBoxFor(x => x.OldId, new { @class = "form-control", type = "number" })
                </div>
                <div class="col-xs-2">
                    <input id="openLvl2" type="button" class="form-control" value="+" />
                </div>
                <div class="col-xs-3 oldIdLvl2">
                    @Html.TextBoxFor(x => x.OldIdLvl2, new { @class = "form-control", type = "number" })
                </div>
            </div>
            <div class="form-group row">
                <label for="Name">Размер:</label>
                <p>
                    @Html.ValidationMessageFor(x => x.Width)
                    @Html.ValidationMessageFor(x => x.Height)
                </p>
                <div class="col-xs-3">
                    @Html.TextBoxFor(x => x.Width, new { @class = "form-control", type = "number" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(x => x.Height, new { @class = "form-control", type = "number" })
                </div>
            </div>
            <div class="form-group row">
                @Html.TextAreaFor(x => x.Desc, new { @class = "form-control", placeholder = "Описание" })
            </div>
            <div class="form-group row">
                @Html.DropDownListFor(x => x.DropDowns.MaterialId, Model.DropDowns.MaterialList, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                @Html.DropDownListFor(x => x.DropDowns.GroupId, Model.DropDowns.GroupList, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                @Html.DropDownListFor(x => x.DropDowns.GiverId, Model.DropDowns.GiversList, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                <label for="PlaceOfBuying">Место приобретение:</label>
                @Html.DropDownListFor(x => x.DropDowns.PlaceOfBuyingId, Model.DropDowns.PlaceOfBuyingList, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                <label for="PlaceOfProduce">Место создания:</label>
                @Html.DropDownListFor(x => x.DropDowns.PlaceOfProduceId, Model.DropDowns.PlaceOfProduceList, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                <label for="DateOfPurchase">Дата приобретение:</label>
                <input type="date" id="DateOfPurchase" name="DateOfPurchase" value="@string.Format("{0:yyyy-MM-dd}", Model.DateOfPurchase)" class="form-control" />
            </div>
            <div class="form-group row">
                <label for="DateOfCreating">Дата создания:</label>
                <input type="date" id="DateOfCreating" name="DateOfCreating" value="@string.Format("{0:yyyy-MM-dd}", Model.DateOfCreating)" class="form-control" />
            </div>
            <div class="form-group row">
                <label for="IsPublic">Виден всем:</label>
                @Html.CheckBoxFor(x => x.IsPublic, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                <label for="NumberOfDuplication">Количечство дубликатов:</label>
                @Html.TextBoxFor(x => x.NumberOfDuplication, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                @Html.TextAreaFor(x => x.Notation, new { @class = "form-control", placeholder = "Примечания" })
            </div>
            <div class="form-group row">
                <input type="submit" value="@(isNew ? "Создать" :"Редактировать") " class="form-control" />
            </div>
        </div>
        <img class="col-sm-6" id="preview" src="@Model.ImageUrl" />
    </div>
}

<script>
    (function () {
        $("#openLvl2").click(function () {
            $(".oldIdLvl2").css("visibility", "visible");
        });
    })()
</script>