@model Shoes.Models.IndexViewModel
@{
    ViewBag.Title = "Коллекция";
}

@section head{
    <script src="~/Scripts/shoes/index-filter.js"></script>
}

<div class="page-header">
    <h1>Коллекция <span id="selectedCount">@Model.Shoes.Count()/</span>@Model.Shoes.Count() шт </h1>
    <div class="row">
        <input type="button" class="size form-control col-md-1" value="Маленькие" id="small" />
        <input type="button" class="size form-control col-sm-1 active" value="Средние" id="medium" />
        <input type="button" class="size form-control col-sm-1" value="Большие" id="big" />
        <input type="button" class="size form-control col-sm-1" value="Целиком" id="full" />
    </div>
    <div class="row filters">
        @Html.DropDownListFor(x => x.DropDowns.MaterialId, Model.DropDowns.MaterialList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "material"
                            })
        @Html.DropDownListFor(x => x.DropDowns.GroupId, Model.DropDowns.GroupList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "group"
                            })

        @if (User.Identity.IsAuthenticated) {
            @Html.DropDownListFor(x => x.DropDowns.GiverId, Model.DropDowns.GiversList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "giver"
                            })
            @Html.DropDownListFor(x => x.DropDowns.PlaceOfBuyingId, Model.DropDowns.PlaceOfBuyingList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "place"
                            })
        }
        <input type="button" class="form-control col-sm-1" value="Сбросить" id="refresh" />
    </div>
</div>

@if (Model.Shoes != null) {
    <div class="row">
        @foreach (var shoes in Model.Shoes) {
            <div class="col-sm-4 shoes-block">
                <input type="hidden" class="material" value="@shoes.Material.Id" />
                <input type="hidden" class="group" value="@shoes.Group.Id" />
                <input type="hidden" class="giver" value="@shoes.Giver.Id" />
                <input type="hidden" class="place" value="@shoes.PlaceOfBuying.Id" />
                <div class="preview-data">
                    <img src="@shoes.ImageUrl" class="preview-image" data-name="@shoes.Name"
                         data-real-id="@shoes.Id"
                         data-old-id-common="@shoes.OldId"
                         data-old-id="@(shoes.OldId + (shoes.OldIdLvl2 != 0
                            ? "." + shoes.OldIdLvl2
                            : string.Empty))" />
                    <p class="shoes-name">
                        @shoes.Name
                        @if (User.Identity.IsAuthenticated) {
                            <span>
                                @(shoes.OldId + (shoes.OldIdLvl2 != 0
                                    ? "." + shoes.OldIdLvl2
                                    : string.Empty))
                            </span>
                        }
                    </p>
                    @if (shoes.Group.Id.ToString() != Model.DropDowns.GroupList.First().Value) {
                        <p>
                            <b>Группа</b>: @shoes.Group.Name
                        </p>
                    }
                    @if (shoes.YearOfPurchase.HasValue) {
                        <p>
                            <b>Дата появления в коллекции</b>: @shoes.YearOfPurchase
                        </p>
                    }
                    @if (shoes.Giver.Id.ToString() != Model.DropDowns.GiversList.First().Value) {
                        <p>
                            <b>Даритель</b>: @shoes.Giver.LastName @shoes.Giver.FirstName
                        </p>
                    }
                    @if (User.Identity.IsAuthenticated) {
                        <p>
                            <a href="@Url.Action("Edit", new { id = shoes.Id})">Редактировать</a>
                            /
                            <a href="@Url.Action("Remove", new { id = shoes.Id})" class="remove">Удалить</a>
                        </p>
                    }
                </div>
            </div>
        }
    </div>
    <!-- Popup -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Туфелька</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>*@
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @*<div class="item active">
                                    <img src="/Content/img/30024.jpg" />
                                </div>*@
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="shoes-details">
                        <p class="shoes-description">
                            <b>Описание</b>: <span></span>
                        </p>
                        <p class="shoes-giver">
                            <b>Даритель</b>: <span></span>
                        </p>
                        <p class="shoes-place">
                            <b>Происхождение</b>: <span></span>
                        </p>
                        <p class="shoes-size">
                            <b>Размер</b>: <span class="shoes-width"></span><span class="shoes-height"></span>
                        </p>
                        <p class="shoes-material">
                            <b>Материал</b>: <span></span>
                        </p>
                        <p class="shoes-group">
                            <b>Группа</b>: <span></span>
                        </p>
                    </div>

                    <p class="wait">
                        <img src="~/Content/ui_img/wait.gif" />
                    </p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>
}

@{ 
    var idPlaceHolder = -1;
}
<script>
    (function () {
        var defaultGiver = '@Model.DropDowns.GiversList.First().Text';
        var defaultPlace = '@Model.DropDowns.PlaceOfBuyingList.First().Text';
        var defaultGroup = '@Model.DropDowns.GroupList.First().Text';
        var defaultMaterial = '@Model.DropDowns.MaterialList.First().Text';
        
        var getDetailsForShoesUrl = '@Url.Action("GetShoesDetails", new { id = idPlaceHolder })';

        init();

        $(".preview-image").click(function () {
            $("#myModal").modal();
            $(".modal-body .wait").show();

            var oldIdCommon = $(this).data("old-id-common");
            var oldId = $(this).data("old-id");
            var title = $(this).data("name") + " №" + oldIdCommon;
            $(".modal-title").text(title);
            var realId = $(this).data("real-id");
            
            fillDetails(realId);
        });

        $(".remove").click(function () {
            if (!confirm("Вы уверены что хотите удалить туфельку?")) {
                return false;
            }
        });

        function init() {
            initCarousel();
        }

        function generateCarouselElemnts(shoes) {
            var isActiveClass = '';
            for (var i = 0; i < shoes.length; i++) {
                isActiveClass = i == 0 ? 'active' : '';
                $(".carousel-inner").append("<div data-real-id='" + shoes[i].Id + "' class='item " + isActiveClass + "'>"
                    + "<img src='" + shoes[i].ImageUrl + "' /></div>");
                $(".carousel-indicators").append("<li class='" + isActiveClass + "' data-target='#myCarousel' data-slide-to='" + i + "'></li>");
            }
        }

        function fillDetails(id) {
            $(".carousel-inner").empty();
            $(".carousel-indicators").empty();

            $.get(getDetailsForShoesUrl.replace(@idPlaceHolder, id), function (shoes) {
                generateCarouselElemnts(shoes);

                $(".modal-body .wait").hide();
                
                for (var i = 0; i < shoes.length; i++) {
                    fillDescForShoe(shoes[i]);
                }

            });
        }

        function fillDescForShoe(shoe) {
            $(".modal-body > .shoes-details").clone().appendTo(".carousel-inner .item[data-real-id=" + shoe.Id + "]");
            var currentShoes = $(".carousel-inner .item[data-real-id=" + shoe.Id + "] .shoes-details");

            currentShoes.show();
            if (shoe.Desc) {
                currentShoes.find(".shoes-description").show();
                currentShoes.find(".shoes-description span").text(shoe.Desc);
            }
            if (shoe.Width != 1 || shoe.Height != 1) {
                currentShoes.find(".shoes-size").show();
                currentShoes.find(".shoes-size .shoes-width").text(shoe.Width);
                if (shoe.Height != 1) {
                    currentShoes.find(".shoes-size .shoes-height").text('x' + shoe.Height);
                }
            }
            if (shoe.PlaceOfBuying && shoe.PlaceOfBuying != defaultPlace) {
                currentShoes.find(".shoes-place").show();
                currentShoes.find(".shoes-place span").text(shoe.PlaceOfBuying);
            }
            if (shoe.Giver && shoe.Giver != defaultGiver) {
                currentShoes.find(".shoes-giver").show();
                currentShoes.find(".shoes-giver span").text(shoe.Giver);
            }

            if (shoe.Material && shoe.Material != defaultMaterial) {
                currentShoes.find(".shoes-material").show();
                currentShoes.find(".shoes-material span").text(shoe.Material);
            }
            if (shoe.Group && shoe.Group != defaultGroup) {
                currentShoes.find(".shoes-group").show();
                currentShoes.find(".shoes-group span").text(shoe.Group);
            }
        }

        function initCarousel() {
            $('#myCarousel').carousel({
                pause: true,
                interval: false
            }).carousel(0);
        }
    })();
</script>

