@model IEnumerable<Dao.Model.Shoes>
@{
    ViewBag.Title = "Коллекция";
}

<div class="page-header">
    <h1>Полная коллекция</h1>
</div>

@if (Model != null) {
    foreach (var shoes in Model.Where(x => x.IsPublic || User.Identity.IsAuthenticated)) {
        <div class="row">
            <img class="col-sm-6" src="@shoes.ImageUrl" />
            <div class="col-sm-6">
                <p>
                    @shoes.Name
                </p>
                <p>
                    @shoes.Desc
                </p>

                @if (User.Identity.IsAuthenticated) {
                    <p>
                        <a href="@Url.Action("Edit", new { id = shoes.Id})">Редактировать</a>
                    </p>
                    <p>
                        <a href="@Url.Action("Remove", new { id = shoes.Id})">Удалить</a>
                    </p>
                }
            </div>
        </div>
        <hr />
    }
}

