@model Shoes.Models.IndexViewModel
@{
    ViewBag.Title = "Коллекция";
}

<div class="page-header">
    <h1>Полная коллекция @Model.Shoes.Count() шт</h1>
    <input type="button" class="size" value="Маленькие" id="small"/>
    <input type="button" class="size" value="Средние"  id="medium"/>
    <input type="button" class="size" value="Большие"  id="big"/>
    <input type="button" class="size" value="Целиком" id="full" />

    <div class="row">
        @Html.DropDownListFor(x => x.DropDowns.MaterialId, Model.DropDowns.MaterialList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "material"
                            })
        @Html.DropDownListFor(x => x.DropDowns.GroupId, Model.DropDowns.GroupList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "group"
                            })

        @if (User.Identity.IsAuthenticated) {
            @Html.DropDownListFor(x => x.DropDowns.GiverId, Model.DropDowns.GiversList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "giver"
                            })
            @Html.DropDownListFor(x => x.DropDowns.PlaceOfBuyingId, Model.DropDowns.PlaceOfBuyingList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "place"
                            })
        }
    </div>
</div>

@if (Model.Shoes != null) {
    <div class="row">
        @foreach (var shoes in Model.Shoes.Where(x => x.IsPublic || User.Identity.IsAuthenticated)) {
        <div class="col-sm-4 shoes-block">
            <input type="hidden" class="material" value="@shoes.Material.Id" />
            <input type="hidden" class="group" value="@shoes.Group.Id" />
            <input type="hidden" class="giver" value="@shoes.Giver.Id" />
            <input type="hidden" class="place" value="@shoes.PlaceOfBuying.Id" />
            <img src="@shoes.ImageUrl" class="preview-image"/>
            <div class="preview-data">
                <p>
                    @shoes.Name
                    @if (User.Identity.IsAuthenticated) {
                        <span>
                            №@(shoes.OldId + (shoes.OldIdLvl2 != 0
                            ? "." + shoes.OldIdLvl2
                            : string.Empty))
                        </span>
                    }
                </p>
                <p>
                    Материал: @shoes.Material.Name
                </p>
                <p>
                    Группа: @shoes.Group.Name
                </p>
                @if (shoes.DateOfPurchase.HasValue) {
                    <p>
                        Дата появления в коллекции: @(shoes.DateOfPurchase.Value.Year)
                    </p>
                }
                @if (User.Identity.IsAuthenticated) {
                    <p>
                        Описание: @shoes.Desc
                    </p>
                    <p>
                        Размер: @shoes.Width * @shoes.Height
                    </p>
                    <p>
                        Место покупки: @shoes.PlaceOfBuying.CountryName
                            @(string.IsNullOrEmpty(shoes.PlaceOfBuying.CityName)
                                ? string.Empty
                                : shoes.PlaceOfBuying.CityName)
                    </p>
                    <p>
                        Даритель: @shoes.Giver.LastName @shoes.Giver.FirstName
                    </p>
                    <p>
                        <a href="@Url.Action("Edit", new { id = shoes.Id})">Редактировать</a>
                    </p>
                    <p>
                        <a href="@Url.Action("Remove", new { id = shoes.Id})">Удалить</a>
                    </p>
                }
            </div>
            <hr />
        </div>
        }
    </div>
}

<script>
    (function () {
        $(".dropdowns-filter").change(function () {

            var typeName = $(this).data("type");
            var type = $("." + typeName);
            var first = $(this).find("option:first-child").val();
            var selectedId = $(this).val();

            var otherFilters = $(".dropdowns-filter:not([data-type=" + typeName + "])");
            otherFilters.find("option").removeAttr('selected');
            otherFilters.find("option:first").attr('selected', 'selected');


            if (selectedId == first) {
                type.parent().show();
            } else {
                type.parent().hide();
                $("." + typeName + "[value=" + selectedId + "]").parent().show();
            }
        });

        $(".size").click(function () {
            var type = $(this).attr("id");
            switch (type) {
                case "small":
                    clear();
                    $(".shoes-block").addClass("col-sm-3");
                    break;
                case "medium":
                    clear();
                    $(".shoes-block").addClass("col-sm-4");
                    break;
                case "big":
                    clear();
                    $(".shoes-block").addClass("col-sm-6");
                    break;
                case "full":
                    clear();
                    $(".shoes-block").addClass("col-sm-12");
                    break;
            }
            });

        function clear() {
            $(".shoes-block").removeClass("col-sm-3");
            $(".shoes-block").removeClass("col-sm-4");
            $(".shoes-block").removeClass("col-sm-6");
            $(".shoes-block").removeClass("col-sm-12");
        }
    })();
</script>