@model Shoes.Models.IndexViewModel
@{
    ViewBag.Title = "Коллекция";
}

<div class="page-header">
    <h1>Коллекция <span id="selectedCount">@Model.Shoes.Count()/</span>@Model.Shoes.Count() шт </h1>
    <div class="row">
        <input type="button" class="size form-control col-md-1" value="Маленькие" id="small" />
        <input type="button" class="size form-control col-sm-1 active" value="Средние" id="medium" />
        <input type="button" class="size form-control col-sm-1" value="Большие" id="big" />
        <input type="button" class="size form-control col-sm-1" value="Целиком" id="full" />
    </div>
    <div class="row filters">
        @Html.DropDownListFor(x => x.DropDowns.MaterialId, Model.DropDowns.MaterialList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "material"
                            })
        @Html.DropDownListFor(x => x.DropDowns.GroupId, Model.DropDowns.GroupList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "group"
                            })

        @if (User.Identity.IsAuthenticated) {
            @Html.DropDownListFor(x => x.DropDowns.GiverId, Model.DropDowns.GiversList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "giver"
                            })
            @Html.DropDownListFor(x => x.DropDowns.PlaceOfBuyingId, Model.DropDowns.PlaceOfBuyingList,
                            new {
                                @class = "form-control col-sm-4 dropdowns-filter",
                                data_type = "place"
                            })
        }
        <input type="button" class="form-control col-sm-1" value="Сбросить" id="refresh" />
    </div>
</div>

@if (Model.Shoes != null) {
    <div class="row">
        @foreach (var shoes in Model.Shoes) {
            <div class="col-sm-4 shoes-block">
                <input type="hidden" class="material" value="@shoes.Material.Id" />
                <input type="hidden" class="group" value="@shoes.Group.Id" />
                <input type="hidden" class="giver" value="@shoes.Giver.Id" />
                <input type="hidden" class="place" value="@shoes.PlaceOfBuying.Id" />
                <div class="preview-data">
                    <img src="@shoes.ImageUrl" class="preview-image" data-name="@shoes.Name"
                         data-real-id="@shoes.Id"
                         data-old-id-common="@shoes.OldId"
                         data-old-id="@(shoes.OldId + (shoes.OldIdLvl2 != 0
                            ? "." + shoes.OldIdLvl2
                            : string.Empty))" />
                    <p class="shoes-name">
                        @shoes.Name
                        @if (User.Identity.IsAuthenticated) {
                            <span>
                                @(shoes.OldId + (shoes.OldIdLvl2 != 0
                                    ? "." + shoes.OldIdLvl2
                                    : string.Empty))
                            </span>
                        }
                    </p>
                    @if (shoes.Group.Id.ToString() != Model.DropDowns.GroupList.First().Value) {
                        <p>
                            <b>Группа</b>: @shoes.Group.Name
                        </p>
                    }
                    @if (shoes.YearOfPurchase.HasValue) {
                        <p>
                            <b>Дата появления в коллекции</b>: @shoes.YearOfPurchase
                        </p>
                    }
                    @if (shoes.Giver.Id.ToString() != Model.DropDowns.GiversList.First().Value) {
                        <p>
                            <b>Даритель</b>: @shoes.Giver.LastName @shoes.Giver.FirstName
                        </p>
                    }
                    @if (User.Identity.IsAuthenticated) {
                        <p>
                            <a href="@Url.Action("Edit", new { id = shoes.Id})">Редактировать</a>
                            /
                            <a href="@Url.Action("Remove", new { id = shoes.Id})" class="remove">Удалить</a>
                        </p>
                    }
                </div>
            </div>
        }
    </div>
    <!-- Popup -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Туфелька</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>*@
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @*<div class="item active">
                                    <img src="/Content/img/30024.jpg" />
                                </div>*@
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                    <div class="shoes-details">
                        <p class="shoes-description">
                            <b>Описание</b>: <span></span>
                        </p>
                        <p class="shoes-giver">
                            <b>Даритель</b>: <span></span>
                        </p>
                        <p class="shoes-place">
                            <b>Происхождение</b>: <span></span>
                        </p>
                        <p class="shoes-size">
                            <b>Размер</b>: <span class="shoes-width"></span><span class="shoes-height"></span>
                        </p>
                        <p class="shoes-material">
                            <b>Материал</b>: <span></span>
                        </p>
                        <p class="shoes-group">
                            <b>Группа</b>: <span></span>
                        </p>
                        <p class="wait">
                            <img src="~/Content/ui_img/wait.gif" />
                        </p>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>
}

@{ 
    var idPlaceHolder = -1;
}
<script>
    (function () {
        var defaultGiver = '@Model.DropDowns.GiversList.First().Text';
        var defaultPlace = '@Model.DropDowns.PlaceOfBuyingList.First().Text';
        var defaultGroup = '@Model.DropDowns.GroupList.First().Text';
        var defaultMaterial = '@Model.DropDowns.MaterialList.First().Text';
        
        var getDetailsForShoes = '@Url.Action("GetShoesDetails", new { id = idPlaceHolder })';
        init();

        $(".preview-image").click(function () {
            $("#myModal").modal();

            var oldIdCommon = $(this).data("old-id-common");
            var images = $("[data-old-id-common=" + oldIdCommon + "]").map(function (index, img) {
                return $(img);
            });

            var title = $(this).data("name");
            if (images.length > 0) {
                title = title + " №" + oldIdCommon;
            }
            $(".modal-title").text(title);

            $(".carousel-inner").empty();
            $(".carousel-indicators").empty();
            var isActiveClass = '';
            for (var i = 0; i < images.length; i++) {
                isActiveClass = i == 0 ? 'active' : '';
                var realId = images[i].data("real-id");
                $(".carousel-inner").append("<div data-real-id='" + realId + "' class='item " + isActiveClass + "'>"
                    + "<img src='" + images[i].attr("src") + "' /></div>");
                $(".carousel-indicators").append("<li class='" + isActiveClass + "' data-target='#myCarousel' data-slide-to='" + i + "'></li>");
            }

            var firstId = images[0].data("real-id");
            fillDetails(firstId);

            initCarousel();
        });

        $(".remove").click(function () {
            if (!confirm("Вы уверены что хотите удалить туфельку?")) {
                return false;
            }
        });

        $(".dropdowns-filter").change(function () {
            $(".dropdowns-filter").removeClass("active");
            var typeName = $(this).data("type");
            var type = $("." + typeName);
            var first = $(this).find("option:first-child").val();
            var selectedId = $(this).val();

            var otherFilters = $(".dropdowns-filter:not([data-type=" + typeName + "])");
            otherFilters.find("option").removeAttr('selected');
            otherFilters.find("option:first").attr('selected', 'selected');
            if (selectedId == first) {
                type.parent().show();
            } else {
                $(this).addClass("active");
                type.parent().hide();
                $("." + typeName + "[value=" + selectedId + "]").parent().show();
            }

            var selectedCount = $(".shoes-block:visible ").length;
            $("#selectedCount").text(selectedCount + "/");
        });

        $("#refresh").click(function () {
            $(".dropdowns-filter").removeClass("active");
            var filters = $(".dropdowns-filter");
            filters.find("option").removeAttr('selected');
            filters.find("option:first").attr('selected', 'selected');
            $(".shoes-block").show();

            var selectedCount = $(".shoes-block:visible ").length;
            $("#selectedCount").text(selectedCount + "/");
        });

        $(".size").click(function () {
            $(".size").removeClass("active");
            $(this).addClass("active");
            var type = $(this).attr("id");
            switch (type) {
                case "small":
                    clear();
                    $(".shoes-block").addClass("col-sm-3");
                    break;
                case "medium":
                    clear();
                    $(".shoes-block").addClass("col-sm-4");
                    break;
                case "big":
                    clear();
                    $(".shoes-block").addClass("col-sm-6");
                    break;
                case "full":
                    clear();
                    $(".shoes-block").addClass("col-sm-12");
                    break;
            }
        });

        function init() {
            initCarousel();
        }

        function fillDetails(id) {
            $(".shoes-details").clone().appendTo(".carousel-inner .item");
            var currentShoes = $(".carousel-inner .item[data-real-id=" + id + "] .shoes-details");
            currentShoes.show();
            currentShoes.find(".wait").show();


            $.get(getDetailsForShoes.replace(@idPlaceHolder, id), function (shoes) {
                currentShoes.find(".wait").hide();
                if (shoes.Desc) {
                    currentShoes.find(".shoes-description").show();
                    currentShoes.find(".shoes-description span").text(shoes.Desc);
                }
                if (shoes.Width != 1 || shoes.Height != 1) {
                    currentShoes.find(".shoes-size").show();
                    currentShoes.find(".shoes-size .shoes-width").text(shoes.Width);
                    if (shoes.Height != 1) {
                        currentShoes.find(".shoes-size .shoes-height").text('x' + shoes.Height);
                    }
                }
                if (shoes.PlaceOfBuying && shoes.PlaceOfBuying != defaultPlace) {
                    currentShoes.find(".shoes-place").show();
                    currentShoes.find(".shoes-place span").text(shoes.PlaceOfBuying);
                }
                if (shoes.Giver && shoes.Giver != defaultGiver) {
                    currentShoes.find(".shoes-giver").show();
                    currentShoes.find(".shoes-giver span").text(shoes.Giver);
                }

                if (shoes.Material && shoes.Material != defaultMaterial) {
                    currentShoes.find(".shoes-material").show();
                    currentShoes.find(".shoes-material span").text(shoes.Material);
                }
                if (shoes.Group && shoes.Group != defaultGroup) {
                    currentShoes.find(".shoes-group").show();
                    currentShoes.find(".shoes-group span").text(shoes.Group);
                }
            });
        }

        function clear() {
            $(".shoes-block").removeClass("col-sm-3");
            $(".shoes-block").removeClass("col-sm-4");
            $(".shoes-block").removeClass("col-sm-6");
            $(".shoes-block").removeClass("col-sm-12");
        }

        function initCarousel() {
            $('#myCarousel').carousel({
                pause: true,
                interval: false
            }).carousel(0);
        }
    })();
</script>